#war{
    background-color : #ace3de;
    border-radius : 15px;
    height : 20px;
    width :  1140px;
    padding : 15px;
    position : absolute;
    top:60px;
    left : 180px;
}
#docs {
    position:absolute;
    left:180px;
    top:200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
}
.docs a {
    display: inline-flex;
    align-items: center;
}
.docs a p {
    margin: 0;
}
#motherofrecep{
    position:absolute;
    top:10px;
    left:180px;
}
#headofpat{
    position:absolute;
    top:20px;
    left:200px;
}
#maindivofNurse{
    flex:1;
    position:absolute;
    top:200px;
    left:200px;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
}
.nurseGenInfo{
    width:260px;
    height:240px;
    padding-right:60px;
    padding-top:20px;
    padding-left:60px;
    border-radius:50px;
    border:0.5px solid black;
    color:indigo;
}
.nurseGenInfo:hover{
    border:8px solid indigo
}
.nurseResInfo{
    width:260px;
    height:240px;
    padding-right:60px;
    padding-top:20px;
    padding-left:60px;
    border-radius:50px;
    border:0.5px solid black;
    color:#1a662e;
}
.nurseResInfo:hover{
    border:8px solid  #1a662e;
}
.nurseEmpInfo{
    width:300px;
    height:650px;
    padding-right:65px;
    padding-top:20px;
    padding-left:60px;
    padding-bottom:20px;
    border-radius:50px;
    border:0.5px solid black;
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
    color:#7a1050;
}
.nurseEmpInfo:hover{
    border:8px solid #7a1050;
}
.nurseworkinfo{
    width:260px;
    height:280px;
    padding-right:60px;
    padding-top:20px;
    padding-left:60px;
    padding-bottom:20px;
    border-radius:50px;
    border:0.5px solid black;
    color:navy;
}
.nurseworkinfo:hover{
    border:8px solid navy;
}
.depurl{
    display:block;
    margin:30px;
}
#adddep{
    position:absolute;
    top: 0px;
    left:150px;
}
#desinfo{
    position:absolute;
    top:320px;
    left:180px;
}
#bedhead{
    position:absolute;
    left:190px;
}
#motherdiv{
    position:absolute;
    top:30px;
    left:180px;
}
.bedsinfo{
    position:absolute;
    left:180px;
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
    margin:2px;
    border:0.5px solid black;
    height:350px;
    width:600px;
    padding:20px;
    border-radius:50px;
    color:darkmagenta;
}
.bedsinfo:hover{
    border:8px solid darkmagenta;
}
.secbedinfo{
    position:absolute;
    left:180px;
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
    margin:2px;
    border:0.5px solid black;
    height:350px;
    width:600px;
    padding:20px;
    border-radius:50px;
    color:darkmagenta;
} 
.secbedinfo:hover{
    border:8px solid darkmagenta;
}
#motherofpatients{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    margin:2px;
    position:absolute;
    top:150px;
    left:190px;
}
.userperinfo{
    border:2px solid black;
    height:250px;
    width:250px;
    padding:25px;
    border-radius:50px;
    color:#a80348;
    font-size:15px;
}
.userperinfo:hover{
    border:8px solid #a80348;
}
.patconinfo{
    border:0.5px solid black;
    height:200px;
    width:209px;
    padding:25px;
    border-radius:50px;
    color:#156373;
    font-size:15px;
}
.patconinfo:hover{
    border:8px solid #156373;
}
.patemerconinfo{
    border:0.5px solid black;
    height:200px;
    width:300px;
    padding:20px;
    border-radius:50px;
    color:#358261;
    font-size:15px;
}
.patemerconinfo:hover{
    border:8px solid #358261;
}
.patmedinfo{
    border:0.5px solid black;
    height:200px;
    width:200px;
    padding:20px;
    border-radius:50px;
    color:#693a85;
    font-size:15px;
}
.patmedinfo:hover{
    border: 8px solid #693a85;
}
#hospbody{
    height:1500px;
}
#paras{
    position : absolute;
    top :120px;
    left : 180px;
}
#showdocturl{
    position : absolute;
    top :180px;
    left : 180px;
}
.fa-solid.fa-user-doctor{
    font-size: 40px;
    
}
.fa-solid.fa-user-tie{
    font-size : 38px;
}
.fa-solid.fa-truck-medical{
    font-size: 28px;
}
#ambinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 450px;
    left : 400px;
}
#recep{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 450px;
    left : 720px;
}
.fa-solid.fa-user-nurse{
    font-size : 28px;
}
.fa-solid.fa-bed{
    font-size : 32px;
}
.fa-solid.fa-door-closed{
    font-size : 32px;
}
#seefloorinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 450px;
    left : 1030px;
}
#roomsinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 780px;
    left : 450px;
}
#seebookedapp{
    height : 170px;
    width : 170px;
    padding : 50px;
    border-radius : 100px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 780px;
    left : 770px;
}
#patientinfo{
    height : 130px;
    width : 130px;
    padding : 50px;
    border-radius : 80px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 820px;
    left : 1050px;
}
.fa-solid.fa-book-medical{
    font-size : 35px;
}
/* #dephead{
    position : absolute;
    top : 310px;
    left : 180px;
} */
#depurl{
    position : absolute;
    top : 380px;
    left : 180px;
}
#depforurl{
    position : absolute;
    top : 400px;
    left : 180px;
}
#seebedsinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 1100px;
    left : 450px;
}
#adddoc{
    border:0.75px solid black;
    height:10px;
    width:160px;
    padding : 15px;
    border-radius: 8px;
    position : absolute;
    top : 270px;
    left : 180px;
}
#nurseinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top:1100px;
    left : 770px;
}
p{
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration : none ;
    color: black;
}
#hr{
    color : blue;
    font-size: larger;
    width : 1170px;
    position : absolute;
    left : 185px;
    top : 180px;
}
#bar{
    position : absolute;
    top : 2px;
}
.floorsinfo{
    position:absolute;
    left:180px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin:20px;
}
.ambinfo2{
    height:300px;
    padding:30px;
    border-radius:50px;
    width:300px;
    border:0.5px solid black;
    color:#a6084d;
}
#image{
    width:1500px;
    height:500px;
}
.ambinfo2:hover{
    border:8px solid #a6084d;
}
.ambinfo3{
    height:350px;
    padding:30px;
    border-radius:50px;
    width:300px;
    border:0.5px solid black;
    color:#436a7a;
}
.ambinfo3:hover{
    border:8px solid #436a7a;
}
.ambinfo1{
    height:450px;
    padding:30px;
    border-radius:50px;
    width:300px;
    border:0.5px solid black;
    color:darkmagenta;
}
.ambinfo1:hover{
    border:8px solid darkmagenta;
}
#ambinfosran{
    position:absolute;
    top:60px;
    left:180px;
    color:blue;
}
.ambulanceinfo{
    position:absolute;
    top:150px;
    left:180px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    width:100%;
    height:500px;
    gap:20px;
    margin:20px;
}
#amheading{
    position:absolute;
    left:180px;
    top:10px;
}
.appoint{
    position : absolute;
    left : 200px;
    top:200px;
    height:300px;
    width:100%;
    display : grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin:15px;
}
 #roomhead{
    position : absolute;
    top:10px;
    left : 200px;
    padding :20px;
}
#greeting{
    position:absolute;
    top:450px;
    left:500px;
    font-size:40px;
    color:blue;
}
#link{
    height:40px;
    width:190px;
    padding:30px;
    border-radius:20px;
    background-color:white;
}
#heads{
    position:absolute;
    top:300px;
    left:100px;
    color:black;
}
#admin{
    position:absolute;
    left:0px;
    top:450px;
    height:200px;
    width:250px;
    background-color:skyblue;
    border-radius:45px;
    padding:30px;
}
#adminlink{
    height:40px;
    width:190px;
    padding:30px;
    border-radius:20px;
    background-color:white;
}
#patientpage{
    position:absolute;
    top:520px;
    height:350px;
    width:350px;
    background-color:skyblue;
    border-radius:45px;
    padding:30px;
}
#paragraph{
    position : absolute;
    top:130px;
    left : 270px;
}
#homebody{
    height:1300px;
    width:800px;
}
#main{
    position:absolute;
    top:40px;
    left:100px;
    height:880px;
    width:780px;
    border-radius:50px;
    padding:50px;
    background-color:white;
}
#bodies{
    background-color:skyblue;
}
.appoints{
    padding:30px;
    width:280px;
    height:280px;
    border-radius:80px;
    background-color:white;
    border:8px solid darkblue;
    background-color:#84bfac;
}
.appoints:hover{
    background-color:#107e94;
    color:white;
}
#backgroundimg{
    background-image:url('bluebk.webp');
    background-size:cover;
}
.fa-solid.fa-hotel{
    position:absolute;
    left:100px;
    top:19px;
}
#footer{
    color:white;
    background-color:darkblue;
    position:absolute;
    top:750px;
    left:0px;
    width:1500px;
    height:150px;
    padding:20px;
}
.fa-regular.fa-circle-check{
    position:absolute;
    left:60px;
    top:0px;
    font-size:25px;
}
#footerkid{
    position:absolute;
    left:500px;
}
.fa-solid.fa-calendar-check{
    font-size : 40px;
    color : darkblue
}
#patient{
    background-color:#a4d4de;
    width:250px;
    height:280px;
    border-radius:35px;
    padding:20px;
    position:absolute;
    left:120px;
    top:250px;
}
#patient:hover{
    border:8px solid #0e3761;
}
#appdiv{
    background-color:#a4d4de;
    width:250px;
    height:280px;
    border-radius:35px;
    padding:20px;
    position:absolute;
    left:490px;
    top:250px;
}
#appdiv:hover{
    border:8px solid #0e3761;
}
#docinfodiv{
    background-color:#a4d4de;
    width:250px;
    height:280px;
    border-radius:35px;
    padding:20px;
    position:absolute;
    left:120px;
    top:600px;
}
#docinfodiv:hover{
    border:8px solid #0e3761;
}
#seeppoindiv{
    background-color:#a4d4de;
    width:250px;
    height:280px;
    border-radius:35px;
    padding:20px;
    position:absolute;
    left:490px;
    top:600px;
}
#seeppoindiv:hover{
    border:8px solid #0e3761;
}
#apphead{
    position: absolute;
    top:80px;
    left :200px;
}
.docsinfopatients{
    width:235px;
    height:235px;
    border-radius:30px;
    padding:20px;
    /* background-color:#c71657; */
    position:absolute;
    left:500px;
    top:200px;
    border:2px solid #f57fa8;
}
.docsinfopatients:hover{
    border:10px solid #f57fa8;
}
#docinfoforpatients{
    background-image:url('pinkbk.jpg');
    background-size:cover;
}
input{
    width : 270px;
    height : 35px;
    border-radius: 25px;
}
#ranwidgets{
    position:absolute;
    top:90px;
    left:200px;
    color:blue;
}
#floorraninfo{
    position:absolute;
    top:5px;
    left:180px;
}
#line2{
    color:blue;
}
#line{
    width:100%;
    position:absolute;
    top:170px;
    left:180px;
    color:#548396;
}
.floorsinfo{
    position:absolute;
    top:160px;
    left:180px;
}
.flinofs{
    height:250px;
    width:400px;
    padding:30px;
    border-radius: 50px;
    border:0.5px solid black;
    color:#214d66;
}
.flinofs:hover{
    border:8px solid #214d66;
}
button{
    width : 160px;
    height : 35px;
    border-radius : 10px;
    background-color : #67819c;
}
.roomsinfo{
    position:absolute;
    left : 180px;
    top:200px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    margin:20px;
    gap:20px;
    height:300px;
    width:1000px;
}
.roominfo1{
    margin:20px;
    height:300px;
    width:300px;
    padding:30px;
    border-radius:50px;
    border:0.5px solid black;
    color:#c71657;
}
/* body{
    min-height:100vh;
    display:flex;
} */
.roominfo1:hover{
    border:8px solid #c71657;
}
.roominfo2{
    margin:20px;
    height:440px;
    width:350px;
    padding:30px;
    border-radius:50px;
    border:0.5px solid black;
    color:#055f85;
}
.roominfo2:hover{
    border:8px solid #055f85;
}
.urls{
    background-color:royalblue;
    width : 150px;
    color : white;
    padding:10px;
    flex-shrink:0;
}
#bar{
    position : absolute;
    left : 180px;
    top : 15px;
}
.fa-solid.fa-circle-dot{
    font-size : 10px;
}
.fa-solid.fa-circle-plus{
    font-size : 40px;
}
.a{
    color : white;
}
#patientname{
    border : 1px solid rgb(189, 175, 175) ;
    border-radius : 15px;
    padding : 20px;
    color : #83d166;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-circle-user{
    font-size : 40px;
    color : #83d166;
}
#patientdocotr{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : #0a708a;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-user-doctor{
    font-size : 40px;
    color : #0a708a;
}
#appointdate{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : #8e57ad;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-calendar-days{
    font-size : 40px;
}
.fa-regular.fa-file-lines{
    font-size : 40px;
    color :hotpink;
}
#reasonforvisit{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : hotpink ;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-calendar{
    font-size : 40px;
    color : #f59b51;
}
#bookeddate{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : #f59b51;
    height : 100px;
    width : 180px;
}
/* #roomed{
    position : absolute;
    top : 150px;
    left : 200px;
    height : 200px;
    width : 800px;
    display : flex;
    justify-content : space-between
}
#div2{
    position : absolute;
    top : 370px;
    left : 200px;
    display : flex;
    height : 200px;
    width : 800px;
    justify-content : space-between;
}
#div3{
    position : absolute;
    top : 580px;
    left : 200px;
    display : flex;
    height : 200px;
    width : 800px;
    justify-content : space-between;
} */
/* #door{
    font-size: 40px;
    color : darkblue;
}
#floornum{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    /* padding :20px; */
    /* color : blue; */
/* } */
/* #roomtype{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :darkcyan
} */ 
/* #roomnum{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :deeppink
}
#dep{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :darkviolet
}
#roomcap{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px; */
    /* color :darkturquoise
} */
/* #occbeds{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :goldenrod;
} */
/* #avbeds{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :lightseagreen
}
#status{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :indianred
}
#charge{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :salmon;
} */
#hell{
    position : absolute;
    height : 9px;
    width:1300px;
    top : 80px;
    left : 200px;
    color : black;
    font-size : 75px;
}
.fa-solid.fa-bed{
    font-size : 40px;
}
.fa-solid.fa-door-closed{
    font-size : 40px;
}
.fa-solid.fa-stairs{
    font-size : 40px;
}
.fa-solid.fa-stethoscope{
    font-size : 40px;
}
.fa-solid.fa-ring{
    font-size : 40px;
}
.fa-solid.fa-bed{
    font-size : 40px;
}
.fa-solid.fa-house-medical-circle-check{
    font-size : 40px;
}
.fa-solid.fa-money-check-dollar{
    font-size : 40px;
}
/* #bedhead{
    position : absolute;
    /* top : 10px;
    left : 200px;
} */
/* #maindiv2{
    position : absolute;
    top : 300px;
    width : 1000px;
    height : 200px;
    left : 200px;
    display : flex;
    justify-content: space-evenly;
}
#beds{
    position : absolute;
    top : 100px;
    width : 800px;
    height : 200px;
    left : 200px;
    display : flex;
    justify-content: space-evenly;
}
#bedtpe{
    border : 1px solid rgb(123, 128, 143);
    border-radius : 15px;
    width : 200px;
    height : 150px; */
    /* padding : 20px;
    color :crimson
}
#bednum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :darkslateblue
}
#roomnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
}
#floornum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
}
#bedstatus{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :darkgreen;
}
#assdate{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :#8e57ad;
} */
.fa-solid.fa-calendar-xmark{
    font-size : 40px;
}
/* #disdate{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :mediumorchid;
} */
.fa-solid.fa-list-ol{
    font-size : 40px;
}
#coninfo{
    width : 900px;
    height : 200px;
    display : flex;
    justify-content: space-evenly;
}
/* #nurperinfo{
    height : 170px;
    width : 1100px;
    display : flex;
    justify-content : space-evenly;
}
#name{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :#83d166;
} */
/* #dateofbir{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color:#f59b51;
}
#age{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :brown;
} */
/* #gender{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :salmon;
}
#bloodgrp{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color:violet;
}
#martialst{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color:grey; */
/* }
#nationality{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :burlywood;
}
#patint{
    position : absolute;
    top : 210px; */
/* }
#nuresinfo{
    height : 170px;
    width : 1500px;
    border : 2px solid black;
    display : flex;
    position: absolute;
    top: 300px; */
    /* justify-content : space-evenly;
    color:red;
}
#phnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:chocolate;
}
#email{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 125px;
    height : 80px;
    padding : 20px;
    color:darkslategrey */
/* }
#add{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:darkolivegreen
}
#city{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:#67819c
}
#country{
    border : 1px solid rgb(196, 169, 169); */
    /* border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:dodgerblue
}
#restinfo{
    width : 390px;
    height : 150px;
    display : flex;
    justify-content: space-evenly;
}
#emcontact{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 100px;
    padding : 20px;
    color:indianred
}
#emernum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 100px;
    padding : 20px;
    color:lightsalmon
}
#medinfo{
    width : 600px;
    height : 170px;
    display : flex;
    justify-content : space-evenly;
    position : absolute;
    top : 550px;
    left : 500px;
    color:blueviolet
}
#all{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
}
#height{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:darkmagenta
}
#weight{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:darkcyan;
} */
#medi{
    position : absolute;
    top : 490px;
    left : 500px;
}
#nuInfo{
    width : 1200px;
    height : 200px;
    display : flex;
    justify-content : space-evenly;
    position: absolute;
    top : 90px;
}
#nuname{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#dateofbirth{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#gender{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#bloodgroup{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nation{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
/* #numinfo{
    width : 1200px;
    height : 170px;
    display : flex;
    justify-content:space-evenly;
    position: absolute;
    top : 350px;
}
#nucoun{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
} */
/* /* #nuempinfo{  suspesion on this one 💖😷😂💋🤢🙌🩺✔💖💧😂💋🐱‍🚀🤢✨ */
    /* width : 1500px;
    height : 170px;
    border : 2px solid black;
    display : flex;
    justify-content: space-evenly; */
/* #phnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuem{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuadd{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nucity{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
} */
/* #nucoun{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuempinfo{
    width : 1200px;
    height : 170px;
    display : flex;
    position: absolute;
    justify-content:space-between;
    top : 550px;
    left : 60px;
}
#nustat{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
} */
/* #nudep{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuqual{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nulinnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
} */
/* #nuexp{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#joindate{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#emptype{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px; */
/* }
#sal{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#sat{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#shifts{
    width : 1100px;
    height : 300px;
    display : flex;
    position: absolute;
    justify-content: space-evenly;
    top : 730px;
}
#shiftstrt{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#shiftend{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#pageurl{
    position : absolute;
    top : 900px;
} */
/* #ainfo{
    width : 1100px;
    height : 230px;
    display : flex;
    justify-content : space-evenly;
    position : absolute;
    top : 50px;
    border : none;
    left : 0px;
}
#mdl{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambnum{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#regnum{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}ainfo */
/* #ambmanyear{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambcapacity{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambstaff{
    width : 1100px;
    height : 230px;
    display : flex;
    justify-content : space-evenly; */
    /* position : absolute;
    top : 350px;
    left : 0px;
} */
/* #asshosp{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#assstaff{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#avaist{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87); */
    /* border-radius : 25px;
}
#ambservice{
    width : 1100px;
    height : 230px;
    display : flex;
    justify-content : space-evenly;
    position : absolute;
    top : 600px;
    left : 0px;
}
#servicedt{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#nxtservicedt{
    width: 170px;
    height : 170px;
    padding : 20px; */
    /* border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#mainnotes{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#fuelst{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
} */
#FatherDivMother{
    position:absolute;
    left:180px;
    top:150px;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
}
.docsgeninfo{
    width:300px;
    height:300px;
    border-radius:50px;
    border:0.5px solid black;
    background-color:#107e94;
    padding:20px;
}
.motherMeds{
    position:absolute;
    top:200px;
    left:200px;
    width:450px;
    height:450px;
    border:0.5px solid black;
    border-radius:50px;
    padding:50px;
}
#headings{
    position:absolute;
    top:10px;
    left:180px;
}
.motherMeds:hover{
    border:8px solid blue;
}
.docsgeninfo:hover{
    border:10px solid #8ecdf5
}
.docsotherinfo{
    width:300px;
    height:300px;
    border-radius:50px;
    border:0.5px solid black;
    background-color:#107e94;
    padding:20px;
}
.docsotherinfo:hover{
    border:10px solid #8ecdf5;
}
.doctorsproinfo{
    width:400px;
    height:450px;
    border-radius:50px;
    border:0.5px solid black;
    background-color:#107e94;
    padding:20px;
}
.doctorsproinfo:hover{
    border:10px solid #8ecdf5;
}
.docsworkinfo{
    width:300px;
    height:300px;
    border-radius:50px;
    border:0.5px solid black;
    background-color:#107e94;
    padding:20px;
}
.docsworkinfo:hover{
    border:10px solid #8ecdf5;
}
 #maindivofdep{
    position:absolute;
    left:200px;
    top:10px;
 }
 .depin{
    height:550px;
    width:380px;
    border:0.5px solid black;
    border-radius:50px;
    padding:20px;
    color:#ab055b;
    background-color:#fc9dc6;
 }
 .depin:hover{
    border:10px solid #ab055b;
 }
 .maindiv{
    position:absolute;
    top:50px;
    left:250px;
    padding:50px;
 }
.nurseperdata{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin : 20px;
    color:#296363;
}
.recepname{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#296363;
}
.recpBirthOfDate{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#296363;
}
.recepnation{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#296363
}
.recepgender{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#296363;
}
.ContInfo{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px,1fr));
    gap : 20px;
    margin-top : 20px;
    width:1100px;
    height:400px;
    justify-items:stretch;
}
.recepOhNumber{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:mediumblue;
}
.recepEmail{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:mediumblue;
}
.receAdd{
    color:mediumblue;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
.recepCity{
    color:mediumblue;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
.reCountry{
    color:mediumblue;
    padding : 20px;
    width : 200px;
    height : 119px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
.recepEmCOn{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    grid-column:span 10;
    color:mediumblue;
}
.recepEmerContnum{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    grid-column:span 10;
    height:140px;
    width:160px;
    color:mediumblue;
}
.tetingdiv{
    height:300px;
    width:300px;
}
.nurseEpInfo{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px , 1fr));
    gap : 20px;
    margin-top : 20px;
}
.recepStat{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#4f2263;
}
.rcepJoinDate{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#4f2263;
}
.recepSalary{
    padding : 20px;
     border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#4f2263;
}
.recepShiftstrt{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#4f2263;
}
.recepShiftEnd{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
    color:#4f2263;
}
/* #floorinfo{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px,1fr));
    gap : 20px;
}
#floorname{
    height : 150px;
    width : 150px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#floorn{
    height : 150px;
    width : 150px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#floorsdec{
    /* height : 150px; */
    /* width : 150px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
} */
.fa-solid.fa-elevator{
    font-size : 40px;
}
.fa-solid.fa-pen-to-square{
    font-size : 40px;
}