#war{
    background-color : #ace3de;
    border-radius : 15px;
    height : 20px;
    width :  1140px;
    padding : 15px;
    position : absolute;
    top:60px;
    left : 180px;
}
#hospbody{
    height:1500px;
}
#paras{
    position : absolute;
    top :120px;
    left : 180px;
}
#showdocturl{
    position : absolute;
    top :180px;
    left : 180px;
}
.fa-solid.fa-user-doctor{
    font-size: 40px;
    
}
.fa-solid.fa-user-tie{
    font-size : 38px;
}
.fa-solid.fa-truck-medical{
    font-size: 28px;
}
#ambinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 450px;
    left : 400px;
}
#recep{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 450px;
    left : 720px;
}
.fa-solid.fa-user-nurse{
    font-size : 28px;
}
.fa-solid.fa-bed{
    font-size : 32px;
}
.fa-solid.fa-door-closed{
    font-size : 32px;
}
#seefloorinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 450px;
    left : 1030px;
}
#roomsinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 780px;
    left : 450px;
}
#seebookedapp{
    height : 170px;
    width : 170px;
    padding : 50px;
    border-radius : 100px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 780px;
    left : 770px;
}
#patientinfo{
    height : 130px;
    width : 130px;
    padding : 50px;
    border-radius : 80px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 820px;
    left : 1050px;
}
.fa-solid.fa-book-medical{
    font-size : 35px;
}
#dephead{
    position : absolute;
    top : 310px;
    left : 180px;
}
#depurl{
    position : absolute;
    top : 380px;
    left : 180px;
}
#depforurl{
    position : absolute;
    top : 400px;
    left : 180px;
}
#seebedsinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top : 1100px;
    left : 450px;
}
#adddoc{
    border:0.75px solid black;
    height:10px;
    width:160px;
    padding : 15px;
    border-radius: 8px;
    position : absolute;
    top : 270px;
    left : 180px;
}
#nurseinfo{
    height : 200px;
    width : 200px;
    padding : 50px;
    border-radius : 130px;
    border : 0.75px  solid #544d4d;
    position :absolute;
    top:1100px;
    left : 770px;
}
p{
    font-family :'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration : none ;
    color: black;
}
#hr{
    color : blue;
    font-size: larger;
    width : 1170px;
    position : absolute;
    left : 185px;
    top : 180px;
}
#bar{
    position : absolute;
    top : 2px;
}
#appoint{
    position : absolute;
    left : 200px;
    top : 250px;
    display : flex;
    justify-content: space-between;
}
#paragraph{
    position : absolute;
    top:130px;
    left : 270px;
}
.fa-solid.fa-calendar-check{
    font-size : 40px;
    color : darkblue
}
#apphead{
    position: absolute;
    top:80px;
    left :200px;
}
input{
    width : 270px;
    height : 35px;
    border-radius: 25px;
}
button{
    width : 160px;
    height : 35px;
    border-radius : 10px;
    background-color : #67819c;
}
#urls{
    background-color:royalblue;
    height : 1500px;
    width : 150px;
    color : white;
    padding:10px;
}
#bar{
    position : absolute;
    left : 180px;
    top : 15px;
}
.fa-solid.fa-circle-dot{
    font-size : 10px;
}
.fa-solid.fa-circle-plus{
    font-size : 40px;
}
.a{
    color : white;
}
#patientname{
    border : 1px solid rgb(189, 175, 175) ;
    border-radius : 15px;
    padding : 20px;
    color : #83d166;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-circle-user{
    font-size : 40px;
    color : #83d166;
}
#patientdocotr{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : #0a708a;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-user-doctor{
    font-size : 40px;
    color : #0a708a;
}
#appointdate{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : #8e57ad;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-calendar-days{
    font-size : 40px;
}
.fa-regular.fa-file-lines{
    font-size : 40px;
    color :hotpink;
}
#reasonforvisit{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : hotpink ;
    height : 100px;
    width : 180px;
}
.fa-solid.fa-calendar{
    font-size : 40px;
    color : #f59b51;
}
#bookeddate{
    border : 1px solid rgb(189, 175, 175);
    border-radius : 15px;
    padding : 20px;
    color : #f59b51;
    height : 100px;
    width : 180px;
}
#roomed{
    position : absolute;
    top : 150px;
    left : 200px;
    height : 200px;
    width : 800px;
    display : flex;
    justify-content : space-between
}
#div2{
    position : absolute;
    top : 370px;
    left : 200px;
    display : flex;
    height : 200px;
    width : 800px;
    justify-content : space-between;
}
#div3{
    position : absolute;
    top : 580px;
    left : 200px;
    display : flex;
    height : 200px;
    width : 800px;
    justify-content : space-between;
}
#roomhead{
    position : absolute;
    top:10px;
    left : 200px;
    padding :20px;
}
#door{
    font-size: 40px;
    color : darkblue;
}
#floornum{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color : blue;
}
#roomtype{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :darkcyan
}
#roomnum{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :deeppink
}
#dep{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :darkviolet
}
#roomcap{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :darkturquoise
}
#occbeds{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :goldenrod;
}
#avbeds{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :lightseagreen
}
#status{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :indianred
}
#charge{
    border : 1px solid rgb(173, 152, 152);
    border-radius : 15px;
    height : 150px;
    width : 200px;
    padding :20px;
    color :salmon;
}
#hell{
    position : absolute;
    height : 9px;
    width:1300px;
    top : 80px;
    left : 200px;
    color : black;
    font-size : 75px;
}
.fa-solid.fa-bed{
    font-size : 40px;
}
.fa-solid.fa-door-closed{
    font-size : 40px;
}
.fa-solid.fa-stairs{
    font-size : 40px;
}
.fa-solid.fa-stethoscope{
    font-size : 40px;
}
.fa-solid.fa-ring{
    font-size : 40px;
}
.fa-solid.fa-bed{
    font-size : 40px;
}
.fa-solid.fa-house-medical-circle-check{
    font-size : 40px;
}
.fa-solid.fa-money-check-dollar{
    font-size : 40px;
}
#bedhead{
    position : absolute;
    top : 10px;
    left : 200px;
}
#maindiv2{
    position : absolute;
    top : 300px;
    width : 1000px;
    height : 200px;
    left : 200px;
    display : flex;
    justify-content: space-evenly;
}
#beds{
    position : absolute;
    top : 100px;
    width : 800px;
    height : 200px;
    left : 200px;
    display : flex;
    justify-content: space-evenly;
}
#bedtpe{
    border : 1px solid rgb(123, 128, 143);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :crimson
}
#bednum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :darkslateblue
}
#roomnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
}
#floornum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
}
#bedstatus{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :darkgreen;
}
#assdate{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :#8e57ad;
}
.fa-solid.fa-calendar-xmark{
    font-size : 40px;
}
#disdate{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 200px;
    height : 150px;
    padding : 20px;
    color :mediumorchid;
}
.fa-solid.fa-list-ol{
    font-size : 40px;
}
#coninfo{
    width : 900px;
    height : 200px;
    display : flex;
    justify-content: space-evenly;
}
#nurperinfo{
    height : 170px;
    width : 1100px;
    display : flex;
    justify-content : space-evenly;
}
#name{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :#83d166;
}
#dateofbir{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color:#f59b51;
}
#age{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :brown;
}
#gender{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :salmon;
}
#bloodgrp{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color:violet;
}
#martialst{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color:grey;
}
#nationality{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 100px;
    height : 100px;
    padding : 20px;
    color :burlywood;
}
#patint{
    position : absolute;
    top : 210px;
}
#nuresinfo{
    height : 170px;
    width : 1500px;
    border : 2px solid black;
    display : flex;
    position: absolute;
    top: 300px;
    justify-content : space-evenly;
    color:red;
}
#phnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:chocolate;
}
#email{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 125px;
    height : 80px;
    padding : 20px;
    color:darkslategrey
}
#add{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:darkolivegreen
}
#city{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:#67819c
}
#country{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:dodgerblue
}
#restinfo{
    width : 390px;
    height : 150px;
    display : flex;
    justify-content: space-evenly;
}
#emcontact{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 100px;
    padding : 20px;
    color:indianred
}
#emernum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 100px;
    padding : 20px;
    color:lightsalmon
}
#medinfo{
    width : 600px;
    height : 170px;
    display : flex;
    justify-content : space-evenly;
    position : absolute;
    top : 550px;
    left : 500px;
    color:blueviolet
}
#all{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
}
#height{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:darkmagenta
}
#weight{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 80px;
    height : 80px;
    padding : 20px;
    color:darkcyan;
}
#medi{
    position : absolute;
    top : 490px;
    left : 500px;
}
#nuInfo{
    width : 1200px;
    height : 200px;
    display : flex;
    justify-content : space-evenly;
    position: absolute;
    top : 90px;
}
#nuname{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#dateofbirth{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#gender{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#bloodgroup{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nation{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#numinfo{
    width : 1200px;
    height : 170px;
    display : flex;
    justify-content:space-evenly;
    position: absolute;
    top : 350px;
}
#nucoun{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
/* /* #nuempinfo{  suspesion on this one 💖😷😂💋🤢🙌🩺✔💖💧😂💋🐱‍🚀🤢✨ */
    /* width : 1500px;
    height : 170px;
    border : 2px solid black;
    display : flex;
    justify-content: space-evenly; */
#phnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuem{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuadd{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nucity{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nucoun{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuempinfo{
    width : 1200px;
    height : 170px;
    display : flex;
    position: absolute;
    justify-content:space-between;
    top : 550px;
    left : 60px;
}
#nustat{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nudep{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuqual{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nulinnum{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#nuexp{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#joindate{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#emptype{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#sal{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#sat{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#shifts{
    width : 1100px;
    height : 300px;
    display : flex;
    position: absolute;
    justify-content: space-evenly;
    top : 730px;
}
#shiftstrt{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#shiftend{
    border : 1px solid rgb(196, 169, 169);
    border-radius : 15px;
    width : 120px;
    height : 120px;
    padding : 20px;
}
#pageurl{
    position : absolute;
    top : 900px;
}
#ainfo{
    width : 1100px;
    height : 230px;
    display : flex;
    justify-content : space-evenly;
    position : absolute;
    top : 50px;
    border : none;
    left : 0px;
}
#mdl{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambnum{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#regnum{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambmanyear{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambcapacity{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambstaff{
    width : 1100px;
    height : 230px;
    display : flex;
    justify-content : space-evenly;
    position : absolute;
    top : 350px;
    left : 0px;
}
#asshosp{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#assstaff{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#avaist{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ambservice{
    width : 1100px;
    height : 230px;
    display : flex;
    justify-content : space-evenly;
    position : absolute;
    top : 600px;
    left : 0px;
}
#servicedt{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#nxtservicedt{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#mainnotes{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#fuelst{
    width: 170px;
    height : 170px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#nurseperdata{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin : 20px;
}
#recepname{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recpBirthOfDate{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepnation{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepgender{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#ContInfo{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px,1fr));
    gap : 20px;
    margin-top : 20px;
}
#recepOhNumber{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepEmail{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#receAdd{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepCity{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#reCountry{
    padding : 20px;
    width : 200px;
    height : 119px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepEmCOn{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepEmerContnum{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#nurseEmpInfo{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px , 1fr));
    gap : 20px;
    margin-top : 20px;
}
#recepStat{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#rcepJoinDate{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepSalary{
    padding : 20px;
     border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepShiftstrt{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#recepShiftEnd{
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#floorinfo{
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(250px,1fr));
    gap : 20px;
}
#floorname{
    height : 150px;
    width : 150px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#floorn{
    height : 150px;
    width : 150px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
#floorsdec{
    height : 150px;
    width : 150px;
    padding : 20px;
    border : 1px solid rgb(114, 98, 87);
    border-radius : 25px;
}
.fa-solid.fa-elevator{
    font-size : 40px;
}
.fa-solid.fa-pen-to-square{
    font-size : 40px;
}