<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>enter Ambualnce information</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
</head>
<body>
      <p>enter ambukance information</p> 
      <form method="POST" action="{% url 'makeambforms' %}">
        {% csrf_token %}
        {{amb_info.as_p}}
        <button type="submit">next</button>
      </form>
</body>
</html>