<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointments</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="urls">
        <i class="fa-solid fa-circle-plus"></i>Hospital Care
        <br><br>
        {% for name in names %}
            <a class="a" href="{% url 'ShowDocsInfo' name.id %}"><i class="fa-solid fa-circle-dot"></i>  {{name}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'doctorsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter docotrs data</a>
        <br><br>
        {% for data in dataas %}
            <a class="a" href="{% url 'showDepartmentInfo' data.department_name %}"><i class="fa-solid fa-circle-dot"></i> {{data}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'dep_forms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Departments</a>
        <br><br>
        <a class="a" href="{% url 'fetchRecapPerInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'makeambforms' %}"><i class="fa-solid fa-circle-dot"></i>Enter ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'enterNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Enter nurse data</a>
        <br><br>
        <a class="a" href="{% url 'FloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter floors data</a>
        <br><br>
        <a class="a" href="{% url 'bedsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'roomsForm' %}"><i class="fa-solid fa-circle-dot"></i>  Enter rooms info</a>
        <br><br>
        <a class="a" href="{% url 'showappointmentforadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Check all booked appointments</a>
        <br><br>
        <a class="a" href="{% url 'patientinfotpadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Patients Data</a>
    </div>
    <pre id="bar"><i class="fa-solid fa-bars"></i>  <strong>Admin Dashboard</strong>                                                                                                                           <i class="fa-solid fa-circle-user"></i> Admin</pre>
    <br>
    <h1 id="apphead"><i class="fa-solid fa-calendar-check"></i>   Appointment info</h1>
    <strong style="position:absolute;left:200px;top:70px">⚠ Press f5 or Win+shift+R to see the changes</strong>
    <p id="paragraph">View all booked appointments</p>
    <hr id="hr">
    <div class="appoint">
    {% for app in appointments %}
        <div id="patientname">
        <i class="fa-solid fa-circle-user"></i>
        <strong>Patient name</strong>
        <br><h3 id="paname">{{app.patient}}</h3>
        </div>
        <div id="patientdocotr">
        <i class="fa-solid fa-user-doctor"></i>
        <strong>Selected Doctor</strong>
        <h3 id="docname">{{app.doctor}}</h3>
        </div>
        <div id="appointdate">
        <i class="fa-solid fa-calendar-days"></i>
        <strong>Appointment date</strong>
        <h3 id="appdate">{{app.appointment_date}}</h3>
        </div>
        <div id="reasonforvisit">
        <i class="fa-regular fa-file-lines"></i>
        <strong>Reason for visit</strong>
        <h3>{{app.reason_for_visit}}</h3>
        </div>
        <div id="bookeddate">
        <i class="fa-solid fa-calendar"></i>
        <strong>Booked date</strong>
        <h3>{{app.booked_date}}</h3>
        </div>
        <form method="POST" action="{% url 'deleteAppointmentsInfo' %}">
            {% csrf_token %}
            <input type="hidden" name="appId" value="{{app.id}}">
            <button type="submit">Delete {{app.patient}} appointment</button>
        </form>
    {% endfor %}
    </div>
</body>
</html>