<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check password</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
</head>
<body>
    <p>please enter password again for confirmation</p>
    <form method="POST"   action="{% url 'checkpass' %}">
        {% csrf_token %}
        {{pass.as_p}}
        <button type="submit">enter</button>
    </form>
</body>
</html>