<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors information</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
</head>
<body>
    <p>enter the following information</p>
    <div style="position:absolute;left:10px">
    <form method="POST" action="{% url 'makingDoctorsForms' id %}">
        {% csrf_token %}
        {{DoctorDatas.as_p}}
        <button type="submit">next</button>
    </form>
    </div>
</body>
</html>