<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body id="hospbody">
    <div id="urls">
        <i class="fa-solid fa-circle-plus"></i>Hospital Care
        <br><br>
        {% for name in names %}
            <a class="a" href="{% url 'ShowDocsInfo' name.id %}"><i class="fa-solid fa-circle-dot"></i>  {{name}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'doctorsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter docotrs data</a>
        <br><br>
        {% for data in dataas %}
            {% if data.department_name %}
            <a class="a" href="{% url 'showDepartmentInfo' data.department_name %}"><i class="fa-solid fa-circle-dot"></i> {{data}}</a>
            {% endif %}
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'dep_forms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Departments</a>
        <br><br>
        <a class="a" href="{% url 'ShowReceoOerData' %}"><i class="fa-solid fa-circle-dot"></i>  Receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'fetchRecapPerInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'getAmbukancesInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'makeambforms' %}"><i class="fa-solid fa-circle-dot"></i>Enter ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'showNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Nurse data</a>
        <br><br>
        <a class="a" href="{% url 'enterNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Enter nurse data</a>
        <br><br>
        <a class="a" href="{% url 'showFloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>Floors data</a>
        <br><br>
        <a class="a" href="{% url 'FloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter floors data</a>
        <br><br>
        <a class="a" href="{% url 'showbedsInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'bedsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'showroomInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Rooms Data</a>
        <br><br>
        <a class="a" href="{% url 'roomsForm' %}"><i class="fa-solid fa-circle-dot"></i>  Enter rooms info</a>
        <br><br>
        <a class="a" href="{% url 'showappointmentforadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Check all booked appointments</a>
        <br><br>
        <a class="a" href="{% url 'patientinfotpadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Patients Data</a>
    </div>
    <pre id="bar"><i class="fa-solid fa-bars"></i>  <strong>Admin Dashboard</strong>                                                                                                                           <i class="fa-solid fa-circle-user"></i> Admin</pre>
    <pre id="war"><i class="fa-solid fa-circle-info"></i>  <strong>To see the newly added doctors and departments please press f5 or Win+R</strong></pre>
    <br>
    <p id="paras">click the names to see the information about the doctors</p>
    {% for name in names %}
    <a id="showdocturl" href="{% url 'ShowDocsInfo' name.id %}"><i class="fa-solid fa-user-doctor"></i>  <p>{{name}}</p></a>
    <div id="adddoc"><a href="{% url 'doctorsInfoForms' %}">Enter more doctors</a></div>
        <br><br>
    {% endfor %}
    <br>
    <h1 id="dephead"><i class="fa-solid fa-hospital"></i>   Department</h1>
    {% for data in dataas %}
        {% if data.department_name %}
         <a  id="depurl" href="{% url 'showDepartmentInfo' data.department_name %}"><i class="fa-solid fa-star"></i>      {{data}}</a>
        {% endif %}
    {% endfor %}
    <br>
    <a  id="depforurl" href="{% url 'dep_forms' %}"><pre><i class="fa-solid fa-plus"></i>  enter more departments</pre></a>
    <br>
    <br>
    <div id="recep">
    <h3> recepotionist data</h3>
    <a href="{% url 'ShowReceoOerData' %}"><i class="fa-solid fa-user-tie"></i><p>recepotionist data</p></a>
    <a href="{% url 'fetchRecapPerInfo' %}"><i class="fa-solid fa-plus"></i> enter receptionist data</a>
    </div>
    <br>
    <br><br>
    <div id="ambinfo">
    <p> ambulances information</p>
    <br>
    <a href="{% url 'getAmbukancesInfo' %}"><i class="fa-solid fa-truck-medical"></i> <strong>ambulances infromation</strong></a>
    <br><br><br>
    <a href="{% url 'makeambforms' %}"><i class="fa-solid fa-plus"></i>   <strong>enter ambulance information</strong></a>
    </div>
    <br><br><br><br>
    <div id="nurseinfo">
    <p> Nurse information</p>
    <a href="{% url 'showNurseInfo' %}"><i class="fa-solid fa-user-nurse"></i> <strong>Nurse information</strong></a>
    <br><br><br>
    <a href="{% url 'enterNurseInfo' %}"><i class="fa-solid fa-plus"></i> <strong>enter nurse information</strong></a>
    </div>
    <br>
    <div id="seefloorinfo">
    <p> Floor infomation</p>
    <a href="{% url 'showFloorInfo' %}"><i class="fa-solid fa-star"></i> <strong>see floor information</strong></a>
    <br><br><br>
    <a href="{% url 'FloorInfo' %}"><i class="fa-solid fa-plus"></i> <strong>enter floor infomation</strong></a>
    </div>
    <br><br><br><br><br>
    <div id="seebedsinfo">
    <p>see beds information</p>
    <a href="{% url 'showbedsInfo' %}"><i class="fa-solid fa-bed"></i> <strong>see beds information</strong></a>
    <br><br><br>
    <a href="{% url 'bedsInfoForms' %}"><i class="fa-solid fa-plus"></i> <strong>enter beds information</strong></a>
    </div>
    <br>
    <div id="roomsinfo">
    <p>Rooms info</p>
    <a href="{% url 'showroomInfo' %}"><i class="fa-solid fa-door-closed"></i> <strong>see rooms info</strong></a>
    <br><br><br>
    <a href="{% url 'roomsForm' %}"><i class="fa-solid fa-plus"></i> <strong>enter rooms info</strong></a>
    </div>
    <br>
    <div id="seebookedapp">
    <p>see booked appointments</p>
    <br>
    <a href="{% url 'showappointmentforadmin' %}"><i class="fa-solid fa-book-medical"></i> <h3>booked appointments</h3></a>
    </div>
    <br><br>
    <div id="patientinfo">
        <p>See all patients info</p>
        <br>
        <a href="{% url 'patientinfotpadmin' %}"><i class="fa-solid fa-hospital-user"></i>   <strong>Patient info</strong></a>
    </div>
</body>
</html>