<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
</head>
<body>
    <form  method="POST" action="{% url 'patientData' %}">
    {% csrf_token %}
        <p>enter the following info for patients</p>
        {{Datas.as_p}}
        <br>
        <button type="submit">getData</button>
    </form>
    <br>
</body>
</html>