<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient info</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
</head>
<body>
    {% for e in patientemer %}
        {{e}}
    {% endfor %}
    {% for c in patientcon %}
        {{c}}
    {% endfor %}
    {% for m in patientMed %}
        {{m}}
    {% endfor %}
    <p>enter the info </p>
    <form method="POST" action="{% url  'patientdataForms' id %}">
    {% csrf_token %}
    {{Infos.as_p}}
    <br>
    <button type="submit">sendInfo</button>
    </form>
</body>
</html>