<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms forms</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
</head>
<body>
    <p>enter the following infomation</p>
    <div style="position:absolute;left:15px;top:50px;">
    <form method="POST" action="{% url 'roomsForm' %}">
        {% csrf_token %}
        {{room.as_p}}
        <button type="submit">save info</button>
    </form>
    </div>
</body>
</html>