<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms info</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="urls">
        <i class="fa-solid fa-circle-plus"></i>Hospital Care
        <br><br>
        {% for name in names %}
            <a class="a" href="{% url 'ShowDocsInfo' name.id %}"><i class="fa-solid fa-circle-dot"></i>  {{name}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'doctorsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter docotrs data</a>
        <br><br>
        {% for data in dataas %}
            <a class="a" href="{% url 'showDepartmentInfo' data.department_name %}"><i class="fa-solid fa-circle-dot"></i> {{data}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'dep_forms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Departments</a>
        <br><br>
        <a class="a" href="{% url 'ShowReceoOerData' %}"><i class="fa-solid fa-circle-dot"></i>  Receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'fetchRecapPerInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'getAmbukancesInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'makeambforms' %}"><i class="fa-solid fa-circle-dot"></i>Enter ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'showNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Nurse data</a>
        <br><br>
        <a class="a" href="{% url 'enterNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Enter nurse data</a>
        <br><br>
        <a class="a" href="{% url 'showFloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>Floors data</a>
        <br><br>
        <a class="a" href="{% url 'FloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter floors data</a>
        <br><br>
        <a class="a" href="{% url 'showbedsInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'bedsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'showroomInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Rooms Data</a>
        <br><br>
        <a class="a" href="{% url 'roomsForm' %}"><i class="fa-solid fa-circle-dot"></i>  Enter rooms info</a>
        <br><br>
        <a class="a" href="{% url 'showappointmentforadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Check all booked appointments</a>
        <br><br>
        <a class="a" href="{% url 'patientinfotpadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Patients Data</a>
    </div>
    <h1 id="roomhead"><i class="fa-solid fa-door-closed" id="door"></i>  Rooms information</h1>
    <div id="hell"></div>
    <div id="roomed">
    {% for room in rooms %}
        <div id="roomtype">
        <i class="fa-solid fa-bed"></i>
        <strong>Room type</strong>
        <h3>{{room}}</h3>
        </div>
        <div id="roomnum">
        <i class="fa-solid fa-door-closed"></i>
        <strong>Room number</strong>
        <h3> {{room.room_number}}</h3>
        </div>
        <div id="floornum">
        <i class="fa-solid fa-stairs"></i>
        <strong>Floor number </strong>
        <h3>{{room.floor_number}}</h3>
        </div>
        </div>
        <div id="div2">
        <div id="dep">
        <i class="fa-solid fa-stethoscope"></i>
        <strong>Department</strong>
        <h3>{{room.department}}</h3>
        </div>
        <div id="roomcap">
        <i class="fa-solid fa-ring"></i>
        <strong>Capacity </strong>
        <h3>{{room.capacity}}</h3>
        </div>
        <div id="occbeds">
        <i class="fa-solid fa-bed"></i>
        <strong>Occupied beds </strong>
        <h3> {{room.occupied_beds}}</h3>
        </div>
        </div>
        <div id="div3">
        <div id="avbeds">
        <i class="fa-solid fa-bed"></i>
        <strong>Available beds</strong>
        <h3>{{room.available_beds}}</h3>
        </div>
        <div id="status">
        <i class="fa-solid fa-house-medical-circle-check"></i>
        <strong>Room status</strong>
        <h3>{{room.room_status}}</h3>
        </div>
        <div id="charge">
        <i class="fa-solid fa-money-check-dollar"></i>
        <strong>Daily charge</strong>
         <h3>{{room.daily_charge}}</h3>
        </div>
    {% endfor %}
    </div>
</body>
</html>