<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beds information</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="urls">
        <i class="fa-solid fa-circle-plus"></i>Hospital Care
        <br><br>
        {% for name in names %}
            <a class="a" href="{% url 'ShowDocsInfo' name.id %}"><i class="fa-solid fa-circle-dot"></i>  {{name}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'doctorsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter docotrs data</a>
        <br><br>
        {% for data in dataas %}
            <a class="a" href="{% url 'showDepartmentInfo' data.department_name %}"><i class="fa-solid fa-circle-dot"></i> {{data}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'dep_forms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Departments</a>
        <br><br>
        <a class="a" href="{% url 'fetchRecapPerInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'makeambforms' %}"><i class="fa-solid fa-circle-dot"></i>Enter ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'enterNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Enter nurse data</a>
        <br><br>
        <a class="a" href="{% url 'FloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter floors data</a>
        <br><br>
        <a class="a" href="{% url 'bedsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'roomsForm' %}"><i class="fa-solid fa-circle-dot"></i>  Enter rooms info</a>
        <br><br>
        <a class="a" href="{% url 'showappointmentforadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Check all booked appointments</a>
        <br><br>
        <a class="a" href="{% url 'patientinfotpadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Patients Data</a>
    </div>
    <div id="motherdiv">
     <h1><i class="fa-solid fa-bed"></i>   Beds information</h1>
     <BR>
    <strong>⚠ Press f5 or Win+sift+R to see the changes</strong>
     <p style="color:blue">see beds information</p>
     <hr style="width:1100px">
    <div class="bedsinfo">
    <br>
    {% for bed in beds %}
        <pre><strong><i class="fa-solid fa-bed"></i>  Bed type   :    {{bed}}</strong></pre>
        <pre><strong><i class="fa-solid fa-list-ol"></i>   Bed number     :   {{bed.bed_number}}</strong></pre>
        <pre><strong><i class="fa-solid fa-list-ol"></i> Room number   :   {{bed.room_no}}</strong></pre>
        <pre><strong><i class="fa-solid fa-stairs"></i> Floor number   :   {{bed.floor_number}}</strong></pre>
    </div>
    <BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR>
    <div class="secbedinfo">
        <pre><strong><i class="fa-solid fa-bed"></i> Bed status   :   {{bed.bed_status}}</strong></pre>
        <pre><strong><i class="fa-solid fa-calendar-xmark"></i>    Assigned date   :   {{bed.assigned_date}}</strong></pre>
        <pre><strong> <i class="fa-solid fa-calendar-check"></i>   Discharge date    :   {{bed.discharge_date}}</strong></pre>
        <form method="POST" action="{% url 'deleteBedsInfo' %}">
            {% csrf_token %}
            <input type="hidden" name="bedsId" value="{{bed.id}}">
            <button type="submit">delete room :{{bed.bed_number}}</button>
        </form>
    {% endfor %}
    </div>
    </div>
</body>
</html>