<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show nurse information</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="urls">
        <i class="fa-solid fa-circle-plus"></i>Hospital Care
        <br><br>
        {% for name in names %}
            <a class="a" href="{% url 'ShowDocsInfo' name.id %}"><i class="fa-solid fa-circle-dot"></i>  {{name}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'doctorsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter docotrs data</a>
        <br><br>
        {% for data in dataas %}
            {% if data.department_name %}
            <a class="a" href="{% url 'showDepartmentInfo' data.department_name %}"><i class="fa-solid fa-circle-dot"></i> {{data}}</a>
            {% endif %}
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'dep_forms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Departments</a>
        <br><br>
        <a class="a" href="{% url 'fetchRecapPerInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'makeambforms' %}"><i class="fa-solid fa-circle-dot"></i>Enter ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'enterNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Enter nurse data</a>
        <br><br>
        <a class="a" href="{% url 'FloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter floors data</a>
        <br><br>
        <a class="a" href="{% url 'bedsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'roomsForm' %}"><i class="fa-solid fa-circle-dot"></i>  Enter rooms info</a>
        <br><br>
        <a class="a" href="{% url 'showappointmentforadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Check all booked appointments</a>
        <br><br>
        <a class="a" href="{% url 'patientinfotpadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Patients Data</a>
    </div>
    <h1 style="position:absolute;top:5px;left:280px;"><i class="fa-solid fa-user-nurse"></i>  Nurse infromation</h1>
    <BR><BR>
    <hr width="1100" style="position:absolute;top:180px;left:180px;">

    <div style="position:absolute;top:60px;left:200px;flex:1;color:blue">
    <strong>⚠ Press f5 or Win+shift+R to see the changes</strong>
    <div id="maindivofNurse">
    {% for nuInfo in nurse_info %}
    <div class="nurseGenInfo">
        <pre><strong><i class="fa-solid fa-user"></i>  Name      :  {{nuInfo}}</strong></pre>
        <pre><strong><i class="fa-solid fa-calendar-days"></i>  date of birth  :      {{nuInfo.date_of_birth}}</strong></pre>
        <pre><strong><i class="fa-solid fa-venus-double"></i>  Gender    :   {{nuInfo.gender}}</strong></pre>
        <pre><strong><i class="fa-solid fa-droplet"></i>  Blood_group    :    {{nuInfo.blood_group}}</strong></pre>
        <pre><strong><i class="fa-solid fa-flag"></i>   Nationality      :    {{nuInfo.nationality}}</strong></pre>
        <form method="POST" action="{% url 'deleteNursesData' %}">
            {% csrf_token %}
            <input type="hidden" name="NurseId" value="{{nuInfo.id}}">
            <button type="submit">delete</button>
        </form>
    </div>
    {% endfor %}
    <BR><BR><BR><BR>
    {% for n in normalInfo %}
    <div class="nurseResInfo">
        <pre><strong><i class="fa-regular fa-flag"></i>  Country     :    {{n}}</strong></pre>
        <pre><strong><i class="fa-solid fa-grip-lines"></i>  Phone number   :     {{n.phone_number}}</strong></pre>
        <pre><strong><i class="fa-solid fa-at"></i>  Email   :   {{n.email}}</strong></pre>
        <pre><strong><i class="fa-solid fa-location-crosshairs"></i>   Address   :  {{n.address}}</strong></pre>
        <pre><strong><i class="fa-solid fa-globe"></i>  City    {{n.city}}</strong></pre>
        <pre><strong><i class="fa-solid fa-earth-europe"></i>  Country    :   {{n.country}}</strong></pre>
        <form method="POST" action="{% url 'deleteBurseCOntactInfo' %}">
            {% csrf_token %}
            <input type="hidden" name="NurseCOnId" value="{{n.id}}">
            <button type="submit">delete</button>
        </form>
        </div>
    {% endfor %}
    <BR><BR><BR><BR>
    {% for e in NurseEmp %}
    <div class="nurseEmpInfo">
        <pre><strong><i class="fa-brands fa-cloudsmith"></i>  Status    :   {{e}}</strong></pre>
        <pre><strong><i class="fa-solid fa-building"></i>   Department   :   {{e.department}}</strong></pre>
        <pre><strong><i class="fa-solid fa-hashtag"></i>  Qualification   :     {{e.qualification}}</strong></pre>
        <pre><strong><i class="fa-solid fa-list-ol"></i>    nursing license number   :     {{e.nursing_license_number}}</strong></pre>
        <pre><strong><i class="fa-solid fa-certificate"></i>  years of experience      :      {{e.years_of_experience}}</strong></pre>
        <pre><strong><i class="fa-solid fa-calendar-days"></i>  joining date:         {{e.joining_date}}</strong></pre>
        <pre><strong><i class="fa-solid fa-sack-dollar"></i>  salary    :  {{e.salary}}</strong></pre>
        <pre><strong><i class="fa-brands fa-skyatlas"></i>  status    :     {{e.status}}</strong></pre>
        <pre><strong><i class="fa-brands fa-sith"></i>   employment type    :     {{e.employment_type}}</strong></pre>
        <form method="POST" action="{% url 'deleteNurseEmpInfo' %}">
            {% csrf_token %}
            <input type="hidden" name="NurseEmId" value="{{e.id}}">
            <button type="submit">delete</button>
        </form>
        </div>
         {% endfor %}
         <BR><BR><BR><BR>
    {% for w in NurseWork %}
     <div class="nurseworkinfo">
        <pre><strong><i class="fa-solid fa-hourglass-half"></i>  shift start {{w.shift_start}}</strong></pre>
        <br>
        <pre><strong><i class="fa-solid fa-hourglass-start"></i>  shift end :  {{w.shift_end}}</strong></pre>
        <br>
        <form method="POST" action="{% url 'deleteNursesWorkInfo' %}">
            {% csrf_token %}
            <input type="hidden" name="NurseWorkId" value="{{w.id}}">
            <button type="submit">delete</button>
        </form>
        </div>
    {% endfor %}
    <br>
    </div>
</body>
</html>