<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient information</title>
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'style.CSS' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>Patient information</h1>
    {% for p in perinfo %}
    <div id="nurperinfo">
        <div id="name">
        <strong><i class="fa-solid fa-user"></i>  Name</strong>
        <h3>{{p.full_name}}</h3>
        </div>
        <div id="dateofbir">
        <strong><i class="fa-solid fa-calendar-day"></i> Date of birth</strong>
        <h3>{{p.date_of_birth}}</h3>
        </div>
        <div id="age">
        <strong><i class="fa-solid fa-sun"></i> Age </strong>
        <h3>{{p.age}}</h3>
        </div>
        <div id="gender">
        <strong><i class="fa-solid fa-person-half-dress"></i> Gender</strong>
        <h3>{{p.gender}}</h3>
        </div>
        <div id="bloodgrp">
        <strong><i class="fa-solid fa-droplet"></i> Blood group </strong>
        <h3>{{p.blood_group}}</h3>
        </div>
        <div id="martialst">
        <strong><i class="fa-regular fa-circle"></i>Martial status </strong>
        <h3>{{p.martial_status}}</h3>
        </div>
        <div id="nationality">
        <strong><i class="fa-solid fa-flag"></i>  Nationality </strong>
        <h3>{{p.nationality}}</h3>
        </div>
    </div>
    {% endfor %}
    <br>  
    <h3 id="patint">Patient contact info</h3>
    <div id="coninfo">
    {% for c in contactinfo %}
    <div id="phnum">
        <strong><i class="fa-solid fa-mobile-screen-button"></i>  Phone number </strong>
        <h3>{{c.phone_number}}</h3>
    </div>
    <div id="email">
        <strong><i class="fa-solid fa-at"></i>  Email</strong>
        <h3>{{c.email}}</h3>
    </div>
    <div id="add">
        <strong><i class="fa-solid fa-location-dot"></i>  Address </strong>
        <h3>{{c.address}}</h3>
    </div>
    <div id="city">
        <strong><i class="fa-solid fa-city"></i>  City </strong>
        <h3>{{c.city}}</h3>
    </div>
    <div id="country">
        <strong><i class="fa-solid fa-flag"></i>  Country</strong>
        <h3>{{c.country}}</h3>
    </div>
    </div>
    {% endfor %}
    <br>
    <h3>Emergency contact information</h3>
    {% for e in emerconinfo %}
    <div id="restinfo">
    <div id="emcontact">
        <strong><i class="fa-solid fa-circle-h"></i>  Emergency contact name</strong>
        <h3>{{e.emergency_con_name}}</h3>
    </div>
    <div id="emernum">
        <strong><i class="fa-solid fa-circle-h"></i>  Emergency number</strong>
        <h3>{{e.emergency_number}}</h3>
    </div>
    </div>
    {% endfor %}
    <br>
    <h3 id="medi">Medical information</h3>
    <div id="medinfo">
    {% for m in medicalinfo %}
    <div id="all">
        <strong><i class="fa-solid fa-circle-stop"></i>  Allergies</strong>
        <h3>{{m.allergies}}</h3>
    </div>
    <div id="height">
        <strong><i class="fa-solid fa-up-down"></i>  Height</strong>
        <h3>{{m.height}}</h3>
    </div>
    <div id="weight">
        <strong><i class="fa-solid fa-scale-balanced"></i>  Weight</strong>
        <h3>{{m.weight}}</h3>
    </div>
    </div>
    {% endfor %}
</body>
</html>