<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ambulance information</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'style.CSS' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css" integrity="sha512-QeR2VH+lsBE5LSAe1Q5EnTBbe7XTBubt8dG93Y7gidSgdMCr8nVqKcfKAMyN96SV8KDbZVTDXChatu5G2KQGzg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1 id="amheading">Ambualnce information</h1>
    <div id="ambinfosran">
        <BR>
        <strong>Refresh to see changes</strong>
        <p>see all information</p>
        <hr width="1500">
    </div>
    <div class="ambulanceinfo">
    {% for aInfo in amb_info %}
    <div class="ambinfo1">
        <strong><i class="fa-solid fa-truck-medical"></i>  Vechile Model</strong>
        <h3>{{aInfo}}</h3>
        <strong><i class="fa-solid fa-arrow-up-9-1"></i>   Vechile number</strong>
        <h3>{{aInfo.ambulance_number}}</h3>
        <strong><i class="fa-solid fa-list-ol"></i>  Registeration number</strong>
        <h3>{{aInfo.registration_number}}</h3>
        <strong><i class="fa-solid fa-calendar-minus"></i> Manufacturing year</strong>
        <h3>{{aInfo.manufacturing_year}}</h3></h3>
        <strong>Capacity</strong>
        <h3><i class="fa-solid fa-ring"></i> {{aInfo.capacity}}</h3>
        <form method="POST" action="{% url 'delAmb' %}">
        {% csrf_token %}
        <input type="hidden" name="ambId" value="{{aInfo.id}}">
        <button type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
    {% for driInfo in dri_info %}
    <div class="ambinfo2">
        <strong><i class="fa-solid fa-hospital"></i> Assigned hospital </strong>
        <h3>{{driInfo.assigned_hospital}}</h3>
        <strong><i class="fa-solid fa-people-group"></i>  Assigned staff</strong>
        <h3>{{driInfo.assigned_staff}}</h3>
        <strong><i class="fa-regular fa-circle"></i>  Availability status </strong>
        <h3>{{driInfo.availability_status}}</h3>
        <form method="POST" action="{% url 'delAmb' %}">
        {% csrf_token %}
        <input type="hidden" name="ambId" value="{{driInfo.id}}">
        <button type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
    {% for main in main_info %}
    <div class="ambinfo3">
        <strong><i class="fa-solid fa-calendar-days"></i>  Service date</strong>
        <h3>{{main}}</h3>
        <strong><i class="fa-solid fa-calendar-day"></i>  Next service date</strong>
        <h3>{{main.next_service_date}}</h3>
        <strong><i class="fa-solid fa-clipboard-list"></i>  Maintenance notes</strong>
            <h3>{{main.maintenance_notes}}</h3>
        <strong><i class="fa-solid fa-battery-full"></i>  Fuel status </strong>
        <h3>{{main.fuel_status}}</h3>
        <form method="POST" action="{% url 'delAmb' %}">
        {% csrf_token %}
        <input type="hidden" name="ambId" value="{{main.id}}">
        <button type="submit">Delete</button>
        </form>
    </div>
    {% endfor %}
    </div>

     <div class="urls">
        <i class="fa-solid fa-circle-plus"></i>Hospital Care
        <br><br>
        {% for name in names %}
            <a class="a" href="{% url 'ShowDocsInfo' name.id %}"><i class="fa-solid fa-circle-dot"></i>  {{name}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'doctorsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter docotrs data</a>
        <br><br>
        {% for data in dataas %}
            <a class="a" href="{% url 'showDepartmentInfo' data.department_name %}"><i class="fa-solid fa-circle-dot"></i> {{data}}</a>
        {% endfor %}
        <br><br>
        <a class="a" href="{% url 'dep_forms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Departments</a>
        <br><br>
        <a class="a" href="{% url 'fetchRecapPerInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter receptionist data</a>
        <br><br>
        <a class="a" href="{% url 'makeambforms' %}"><i class="fa-solid fa-circle-dot"></i>Enter ambulance data</a>
        <br><br>
        <a class="a" href="{% url 'enterNurseInfo' %}"><i class="fa-solid fa-circle-dot"></i>Enter nurse data</a>
        <br><br>
        <a class="a" href="{% url 'FloorInfo' %}"><i class="fa-solid fa-circle-dot"></i>  Enter floors data</a>
        <br><br>
        <a class="a" href="{% url 'bedsInfoForms' %}"><i class="fa-solid fa-circle-dot"></i>  Enter Beds Data</a>
        <br><br>
        <a class="a" href="{% url 'roomsForm' %}"><i class="fa-solid fa-circle-dot"></i>  Enter rooms info</a>
        <br><br>
        <a class="a" href="{% url 'showappointmentforadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Check all booked appointments</a>
        <br><br>
        <a class="a" href="{% url 'patientinfotpadmin' %}"><i class="fa-solid fa-circle-dot"></i>  Patients Data</a>
    </div>
</body>
</html>